# Streamlit app & UI
streamlit==1.39.0
pandas
requests
beautifulsoup4
lxml
tldextract

# Google Ads & API
google-ads

# AI integration
openai==1.50.2

# Filhåndtering
python-docx
openpyxl
PyPDF2

# Ekstra analyser og værktøjer
regex